@model Model.Models.Usuario

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="container">    
    <div class="row">
        <div class="col">            
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Matricula</span>
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Seacher" aria-describedby="basic-addon1">
            </div>
            <br />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </div>
        <div class="col">
            <div class="col"> <br/>
                <a><span class="glyphicon glyphicon-home"></span></a>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sair</button>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NomeUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.NomeUsuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NomeUsuario, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.MatriculaUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.MatriculaUsuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MatriculaUsuario, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                   <div class="form-group">                       
                       @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-3">
                           @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                       </div>
                       @Html.LabelFor(model => model.NomeMae, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-3">
                           @Html.EditorFor(model => model.NomeMae, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.NomeMae, "", new { @class = "text-danger" })
                       </div>
                       <div class="col-md-2"></div>
                    </div>
                    <div class="form-group">
                       
                        @Html.LabelFor(model => model.EmailUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.EmailUsuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmailUsuario, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Tipo de Usuário", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            Professor @Html.RadioButton("TipoUsuario", 1, new { htmlAttributes = new { @class = "form-control" } })
                            Técnico @Html.RadioButton("TipoUsuario", 2, new { htmlAttributes = new { @class = "form-control" } })
                            Aluno @Html.RadioButton("TipoUsuario", 3, true, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("TipoUsuario", "", new { @class = "text-danger" })
                        </div>                       
                        <div class="col-md-3"></div>
                    </div>                   
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salvar" class="btn btn-default" />
                        </div>
                        <div class="col-md-12">@Html.ActionLink("Cancelar", "Index")</div>
                       
                    </div>
                </div>
              }

        </div>       
    </div>
</div>
   
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

